<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Starline.SmartNota.Util.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Starline.SmartNota.Util.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <Starline.SmartNota.Util.Properties.Settings>
      <setting name="SmartNota_Util_NFSe_WS_SJC_PedidoEnvioRPS_PedidoEnvioRPSService"
        serializeAs="String">
        <value>https://acessonfe.sjc.issqn.com.br/ws/PedidoEnvioRPS.cfc</value>
      </setting>
      <setting name="SmartNota_Util_NFSe_WS_SJC_PedidoConsultaRPSNumero_PedidoConsultaRPSNumeroService"
        serializeAs="String">
        <value>https://acessonfe.sjc.issqn.com.br/ws/PedidoConsultaRPSNumero.cfc</value>
      </setting>
    </Starline.SmartNota.Util.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <Starline.SmartNota.Util.Properties.Settings>
      <setting name="LogEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LogFileName" serializeAs="String">
        <value>C:\Temp\SmartNFSe_yyMMdd.log</value>
      </setting>
      <setting name="User" serializeAs="String">
        <value>124388</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>124388giss</value>
      </setting>
      <setting name="UrlRequest" serializeAs="String">
        <value>http://189.109.86.86/conexaoservicos/financeiro/notafiscalprefeitura/listaxml.asp</value>
      </setting>
      <setting name="UrlResponse" serializeAs="String">
        <value>http://189.109.86.86/conexaoservicos/financeiro/notafiscalprefeitura/processaxml.asp</value>
      </setting>
      <setting name="DefaultNamespace" serializeAs="String">
        <value>https://acessonfe.sjc.issqn.com.br</value>
      </setting>
    </Starline.SmartNota.Util.Properties.Settings>
  </userSettings>
</configuration>